.under-construction {
  position: relative;
  margin: 50% auto;;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.under-construction-header {
  margin: auto;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.under-construction-body {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.svg-container {
  position: relative;
}

.logo-svg {
  /* display: none; */
  position: absolute;
  bottom: -12%;
  left: 0%;
  margin: 0% 0 0 0%;
  width: 100%;
  height: 100%;
}

.kelp1 {
  position: absolute;
  top: 44.2%;
  left: 6%;
  z-index: 9;
  transform: rotate(-6.5deg);
  scale: 1.4;
}

.kelp2 {
  position: absolute;
  bottom: -12%;
  right: 18%;
  z-index: 9;
  transform: rotate(-6deg);
  scale: 1.4;
}
