.title-container {
    width: 100%;
    font-family: "Arial";
    font-style: narrow;
    font-weight: 900;
}

.logo-title {
  position: relative;
  top: 2rem;
}

@container (min-width: 750px) {
  .logo-title {
    top: -4rem;
  }
}

.title-be-the {

}

.title-manatee {

}
