.title-container {
    width: 100%;
    font-family: "Arial";
    font-style: narrow;
    font-weight: 900;
}

.logo-title {
  position: absolute;
  top: -72%;
}

.title-be-the {

}

.title-manatee {

}
